/build/classes/java/main/edabit/veryhard/AddTwoStringNumbers.class
/build/classes/java/test/edabit/veryhard/test/AddTwoStringNumbersTest.class
/build/classes/java/main/edabit/veryhard/nearest/chapter/Chapter.class
/build/classes/java/main/edabit/veryhard/nearest/chapter/NearestChapter.class
/build/classes/java/test/edabit/veryhard/test/NearestChapterTest.class
/build/classes/java/main/edabit/medium/PerfectSquarePatch.class
/build/classes/java/test/edabit/medium/test/PerfectSquarePatchTest.class
/build/classes/java/main/edabit/medium/RoundInMillions.class
/build/classes/java/test/edabit/medium/test/RoundInMillionsTest.class
/build/classes/java/main/edabit/veryhard/SameLetterPatterns.class
/build/classes/java/test/edabit/veryhard/test/SameLetterPatternsTest.class
/build/classes/java/main/edabit/hard/SevenBoom.class
/build/classes/java/test/edabit/hard/test/SevenBoomTest.class
